.git
.github
.dvc/config.local
.env
.venv
venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
mlflow
mlruns
data
docs
tests
notebooks
*.md
!README.md
artifacts/models/candidates
artifacts/models/*.joblib
artifacts/preprocessors
